<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">See your Entries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-explore-container tab2 = "y" button_label="Log your sleepiness" route = "daytime" placeholder_text = "Notes about your daytime sleepiness" scale_label= "Rate how your alertness was during the day" name="Log your Somnolence" date_choose = "Select day you felt daytime sleepiness" name="Log Your Dirunal Somnolence" start_time="Choose the time when you felt sleepy" end_time = "Choose a time when you stopped feeling sleepy" scale = "How Sleepy did you feel?"></app-explore-container>
</ion-content>

