<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-justify-content-center"  size="large" >Log your Sleep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

      <app-explore-container tab2 = "n" button_label = "Log your sleep" route = "sleeptime" placeholder_text = "Notes about your sleep? "  scale_label = "Rate your sleep by tapping these" date_choose = "Select day you slept" name="Log Your Sleep" start_time="Choose a sleep time" end_time = "Choose a wake time"></app-explore-container>

</ion-content>
